
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color:rgb(83, 83, 83);
    font-size: 1rem;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

/* setup */
.header {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-left: 25px; 
    margin-right: 25px; 
    margin-top: 25px;
    margin-bottom: 25px;
}


li {
    list-style: none;
}


h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
}

i {
    font-size: 1.5rem;
    position: relative;
    top: 4px;
}

a {
    display: inline-block;
    text-decoration: none;
    letter-spacing: .5px;
    color:rgb(83, 83, 83);
}

p {
    font-size: .9rem;
    padding: 1rem 0;
    padding-bottom: 1.5rem;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: .3s ease-in-out;
}

.img {
    justify-content: center;
}

.row {
    display: flex;
}

.flex {
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.flex >* {
    flex: 1 1 25rem;
}

/* btn */
.page-btn {
    font-weight: 600;
    font-size: .9rem;
    color: #fff;
    text-transform: capitalize;
    outline: 1px solid #4184ff;
    background: #4184ff;
    padding: .5rem 1rem;
    border-radius: 10px;
}

.page-btn:hover {
    background: transparent;
    color:#4184ff;
    border-radius: 0 10px 0 10px ;
}




/* end btn */
/* logo */
.__logo {
    position: relative;
    bottom: 4px;
    color:#4184ff;
    cursor: pointer;
}

/* nav */
/* ._nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



._nav-item {
    padding-left: 45px;
}

._contact-list li {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ._nav-list li a {
    
    align-items: center;
    justify-content: center;
    
} */

/* ._nav-close, ._nav-toggle, ._nav-item:last-child {
    display: none;
} */ 


/* hero */




/*@media screen and (max-width: 767px) { 
    
    ._contact-list {
        display: none;
    }

   
    ._nav-logo {
        display: inline-flex;
        top: 2px;
        column-gap: .5rem;
        transition: .3s;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    ._nav-toggle {
        display: inline-block;
        cursor: pointer;
    }

    ._nav-menu {
        position: fixed;
        background: whitesmoke;
        width: 100%;
        height:100%;
        top: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
        transition: .3s;
        
    }
    ._nav-close {
        display: inline-block;
        position: absolute;
        top: 1.1rem;
        right: 1.25rem;
        cursor: pointer;
    }

    ._nav-close i {
        font-size: 2.5rem;
    }

    ._nav-list {
        position: absolute;
        font-size: 2rem;
        right: 40%;
        top: 25%;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    ._nav-item:last-child {
        display: inline-flex;
    }

    .show-menu {
        opacity: 1;
        z-index: 1000;
        
    }

    .img {
        justify-content: center;
       
    }
} 

@media screen and  (min-width: 1366px) {
    .container {
        max-width: 1200px;
    }
} */