*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 25px 0
}

li {
    list-style: none;
}

i {
    position: relative;
    top: 2px;
}

a {
    text-decoration: none;
    color: #000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__nav-link ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.__logo {
    margin-left: 25px;
}

/* .__nav-link ul  {
    
} */

.__nav-link ul li {
    padding: 0 20px 0 20px;
}

.__btn-header {
    margin-right: 25px;
}

.__menu-bar {
    display: none;
    color: #000;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .__logo {
        width: 80px;
    }

    .__nav-link, .__btn-header {
        display: none;
    }

    .__nav-link {
        width: 100%;
    }

    .__menu-bar {
        width: 100%;
        margin-right: 25px;
        display: block;
    }

    .__nav-link.show-menu {
        display: flex;
    }
}